# Xcode
DerivedData/
*.xcuserdata/
*.swp
*~
*.xcworkspace/
*.xcodeproj/xcuserdata/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Xcode user data
*.xcuserstate

# 빌드된 파일들
*.app/
*.ipa/
*.dSYM/

# 기타
*.hmap